.box{
    width: 207px;
    padding: 108px;
    position: absolute;
    top: 352px;
    left: 1352px;
    transform: translate(-50%,-50%);
    background: rgb(141, 63, 0);
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="password"] 
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid purple;
    padding: 24px 10px;
    width: 220px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25px;
}
.box input[type="text"]:focus
{
    width: 270px;
    border-color: blue;
}
.box input[type="password"]:focus
{
    width: 270px;
    border-color: blue;
}
.box input[type="submit"] 
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid blue ;
    padding: 14px 73px;
    
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.box input[type="submit"] :hover{
    background: blue;
}





body{
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5),rgb(0,0,0,0.5),rgb(0,0,0,0.5)),  url(601474.jpg);
    background-color: rgb(141, 63, 0);
   background-repeat: no-repeat ;
   background-size:cover;
    height: 100vh;
    min-width: 100px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: -26px;
    min-height: 300px;
    margin-right: 37px;
    font-size: 20px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}
ul li a :hover{
    background-color: rgb(141, 63, 0);
    color:#fff;
}
ul li.active a{
    background-color:rgb(141, 63, 0);
    color:#fff;
}
.logo img{
    float: left;
    width: 144px;
}
.main{
    max-width: 12000px;
    margin: auto;
}    



.srck{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    margin-top: 13px ;
    color:rgb(141, 63, 0);
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background:rgb(141, 63, 0);
    border: 2px solid rgb(141, 63, 0);
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}


.btn:focus{
    outline:none;
}
 .srch:focus{
    outline: none;
 }
 .flybird{
    position: relative;
    width:12%;
    right: -94%;
    margin-top: -66px;
    animation:fly 5s infinite ;
 }
 @keyframes bg-color
  {
    0%{background-color: #fff;}
    15%{background-color: #fff;}
    40%{background-color: #fff;}
    65%{background-color: #fff;}
    200%{background-color: #fff;}
    200%{background-color: #fff;}
    
 }
 @keyframes fly
 {
    0%
    {
        right:-10%;
        top:5px;
    }
    15%
    {
        right: 105px;
    }
    40%
    {
        right: 30px;
    }
    65%
    {
        right:25px;
    }
    200%
    {
        right:-200px;
        top:105px;
    }
    
 }
 .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;

 }
 .content h1{
    font-family: 'Times New Roman';
    font-size: 17px;
    padding-right: 618px;
    letter-spacing: 18px;
 }
 .content span{
    color: rgb(141, 63, 0);
    font-size: 60px;
 }
 





